body{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
.profile1{
    display: flex;
    margin: 5% 5%;
}
.profile2{
    display: flex;
    background-image: url(media/profile2\ Bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.half-width{
    width: 50%;
    padding: 2%;
}

.half-width img{
    width: 100%;
}

h1{
 font-weight: 900;
 color: rgba(74, 74, 74, 0.892);
}
h2{
 font-weight: 900;
 color: rgba(74, 74, 74, 0.892);
}
span{
    color: orange;
}
p{
    color: rgba(79, 76, 76, 0.873);
}
button{
    color: white;
    background-image: linear-gradient(45deg, rgba(255, 166, 0, 0.814),rgba(255, 0, 0, 0.727));
    border: none;
    padding: 12px 19px;
    border-radius: 25px;
    font-weight: 700;
}
.recepies{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
.recepie-items{
    display: flex;
    font-size: 20px;
}

.food{
    margin: 2%;
    padding: 2%;
    box-shadow: 5px 5px 40px rgba(95, 95, 95, 0.834);
    border-radius: 15px;
}
.food img{
    width: 100%;
}